<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../static/style.css"  >
</head>
<title>Hello Dai Nguyen </title>
<body>
<div id="container">
<h1 id="st_header"> This is header 1 </h1>
<form id="submit_form" action="{{url_for('success_1')}}" method="POST">
  Email Address <input id="email" type="text" placeholder="Enter your email address" name="email_n"> <br>
  Height <input id="height" type="number" placeholder="Enter your height" name="height_n"> <br>
  <button type="submit">Submit </button><br>
</form>
</div>

</body>

</html>
